<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div th:fragment="cadastroAlimentos">
		<div class="row cadAlimentos">
			<div class="col align-self-start">
				<div class="card">
					<form action="../addalimento" method="post"
						modelAttribute="alimentoForm">
						<h5 class="card-header titulo">Cadastro de Alimento</h5>
						<div class="form-group alinha">
							<input name="nome" type="text" class="form-control"
								placeholder="Nome do alimento">
						</div>
						<div class="form-group alinha">
							<select class="form-control" id="exampleFormControlSelect1"
								name="grupoAlimentos">
								<option>Grupo Alimentar 1</option>
								<option>Grupo Alimentar 2</option>
								<option>Grupo Alimentar 3</option>
								<option>Grupo Alimentar 4</option>
								<option>Grupo Alimentar 5</option>
							</select>
						</div>
						<div th:replace="fragments/tabnutricional :: cadTabNutricao">							
						</div>
						<div class="submit">
							<button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
