<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="form-row tabela" th:fragment="consultaReceitas">
		<div class="col align-self-start">
			<div class="card">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Nome da Receita</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="elemento:${receitasElemento}">
								<th th:text="${elemento.nome}" scope="row"></th>
								<td><a class="btn btn-primary"
									th:href="@{/receitas/{id}(id=${elemento.id})}" role="button">Mostrar</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col align-self-start">
			<div class="card nutricao">
				<h5 class="card-header titulo">Detalhes da Receita</h5>
				<div class="row">
					<div class="col-6">
						<div class="form-group row alinha primeiro">
							<label class="col-5" for="disabledTextInput">Como preparar</label>
							<div class="col-6">
								<input type="text" id="disabledTextInput" class="form-control"
									th:placeholder="${receitas.ComoPreparar}"
									disabled>
							</div>
						</div>
						<div class="form-group row alinha">
							<label class="col-5" for="disabledTextInput">TempoPreparo</label>
							<div class="col-6">
								<input type="number" id="disabledTextInput" class="form-control"
									th:placeholder="${receitas.TempoPreparo}"
									disabled>
							</div>
						</div>
						<div class="form-group row alinha">
							<label class="col-5" for="disabledTextInput">Efeito Especial</label>
							<div class="col-6">
								<input type="text" id="disabledTextInput" class="form-control"
									th:placeholder="${receitas.efeitoEspecial}"
									disabled>
							</div>
						</div>

					</div>
					<div class="col-6">
						<h5>Ingredientes</h5>
						<div th:each="ingrediente:${receitas.ingredientes}"
							class="form-group row alinha">
							<label class="col-3" th:text="${ingredientes.nomeIngrediente}"
								for="disabledTextInput"></label>
							<div class="col-9">
								<input type="number" id="disabledTextInput" class="form-control"
									th:placeholder="${ingredientes.quantidade}" disabled>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>