<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="form-row tabela" th:fragment="consultaAlimentos">
		<div class="col align-self-start">
			<div class="card">
				<div class="table-responsive">
					<div class="table-wrapper-scroll-y my-custom-scrollbar">
						<table class="table table-bordered table-striped mb-0">
							<thead>
								<tr>
									<th scope="col">Nome</th>
									<th scope="col">Grupo de alimento</th>
									<th scope="col">Tabela Nutricional</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="elemento:${elementos}">
									<th th:text="${elemento.nome}" scope="row"></th>
									<td th:text="${elemento.grupoAlimentos}"></td>
									<td><a class="btn btn-primary"
										th:href="@{/alimentos/{id}(id=${elemento.id})}" role="button">Mostrar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col align-self-start">
			<div class="card nutricao">
				<h5 class="card-header titulo">Tabela Nutricional</h5>
				<div th:replace="fragments/tabnutricional :: conTabNutricao"></div>
			</div>
		</div>
	</div>
</body>
</html>