<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<div class="row row-cols-2" th:fragment="grupoAlimentar">
		<div class="col">
			<div class="card grupo1">
				<div class="card-header">Grupo Alimentar 1</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Os alimentos ricos em proteínas, cálcio, magnésio e
							vitaminas B2.</p>
						<footer class="blockquote-footer">
							<p>Representado pelo leite e derivados, com exceção da
								manteiga e da nata.</p>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card grupo2">
				<div class="card-header">Grupo Alimentar 2</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Os alimentos ricos em proteínas, ferro, zinco e vitaminas
							B, B2 e B3.</p>
						<footer class="blockquote-footer">
							<p>Representado por carne, as aves, os peixes, os embutidos, os
								miúdos, os ovos e as leguminosas secas.</p>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card grupo3">
				<div class="card-header">Grupo Alimentar 3</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>As vitaminas, os sais minerais, a água e a fibra, atuam no
							organismo regulando as sua funções.</p>
						<footer class="blockquote-footer">
							<p>Representado pelas frutas e hortaliças.</p>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card grupo4">
				<div class="card-header">Grupo Alimentar 4</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Grupo dos amidos</p>
						<footer class="blockquote-footer">
							<p>Representado pelos cereais, as massas, os feculentos, o
								mel e os pães.</p>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card grupo5">
				<div class="card-header">Grupo Alimentar 5</div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<p>Os alimentos que juntamente com o amido e os açúcares
							fornecem a energia para o organismo.</p>
						<footer class="blockquote-footer">
							<p>Representado pelas gorduras animais e vegetais.</p>
						</footer>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</body>
</html>